<div class = "container-fluid text-center">
  <h1>About page</h1>
  <p>This a DevShare site. Here we have made a place for Ruby developers 
  to come find others to discuss Rails development idias. 
  </p>
</div>